@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Pelimaailma</h1>
    <p class="lead">Pelimaailman ylläpitosivusto, jossa poistaa, lisätä ja muokata tietoja katselun lisäksi.</p>
</div>